p{
    text-align: center;
    font-weight: 700;
}


 input[type="reset"],input[type="submit"]{
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    height: auto;
    background-color: cyan;
    font-weight: 700;
 }

input[type="reset"]:hover,input[type="submit"]:hover{
    cursor: pointer;
}