*{
    background:linear-gradient(90deg,#190019,#2B124C,#522B5B,#854F6C,#FBE4D8);
    color: white;
}

.EcranAffichage{
    width: 400px;
    height: 400px;
    border: 1px solid  black;
    border-radius: 5px;
    display:flex ;
    overflow: hidden;
    margin: 40px auto;
}


.conteneur-photo{
    display: flex;
    width: calc(400px * 8); /* 8 images */
    transition: transform 0.5s ease;
}

.conteneur-photo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.conteneur-bouton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.conteneur-bouton button{
    border-radius: 10px;
    padding: 5px;
    width: 155px;
    height: auto;
    background-color: cyan;
    font-weight: 700;
}

.conteneur-bouton button:hover{
    cursor: pointer;
}