body{
    background-color:#C7CCD3;
}

h1{
    text-align: center;
}

.conteneur-bouton{
    width: 80%;
    height: 70%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap:5px;
    row-gap: 2px;
}

.conteneur-bouton button{
    width: 100%;
    height: 50px;
    border-radius:5px ;
    background-color: #C7CCD3;
    color:black;
    font-weight: 700;
}

.conteneur-parent{
    margin-top: 5%;
    margin-left:30%;
    width: 375px;
    height: 75vh;
    border:3px solid black;
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.conteneur-ecran{
    width: 80%;
    height: 15%;
    background-color: white;
    border:1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: bold;
    overflow: hidden;
}


#btn-zero{
    grid-column: 1 / 3;    
}


/*Media query ( Responsivité ) */

@media screen and (max-width:480px) {
    .conteneur-parent{
        margin-left: 5%;
        width: 90%;
        height:70vh;
    }

    .conteneur-bouton{
        width:100%;
        height:70% 
    }

    .conteneur-bouton button{
        width:100%;
        height:100%;
        font-size: 1.5em;
    }

    .conteneur-ecran{
       width: 100%;
        height: 30%;
    }
}

@media screen and (min-width:481px ) and (max-width:1024px) {
    .conteneur-parent{
        margin-left: 25%;
        width: 50%;
        height:70vh;
    }

    .conteneur-bouton{
        width:100%;
        height:70% ;
    }

    .conteneur-bouton button{
        width:100%;
        height:100%;
        font-size: 1.5em;
    }

    .conteneur-ecran{
       width: 100%;;
       height: 30%;
    }

}